<!DOCTYPE html>
<html dir="ltr" lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <meta charset="UTF-8" />
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="demo.css" />
</head>
<body>
  <section>
    <div class="login_page">
      <h1>Đăng nhập tài khoản</h2>
        <div class="col2-set">
          <form>
            <ul class="form-list">
              <li>
                <label for="">E-Mail:</label>
                <br>
                <input type="text" name="email" value="" id="email" class="input-text required-entry" title="Email Address">
              </li>
              <li>
                <label for="">Password:</label>
                <br>
                <input type="password" name="password" value="" id="password" class="input-text required-entry" title="Email Address" value="">
              </li>
            </ul>
            <div class="button-set">
              <button class="button-login" type="submit"><span>Đăng nhập</span></button>
              <a href="" class="forgot-word">Quên mật khẩu</a>
            </div>
          </form>
        </div>
  </section>
</body>

</html>
